<default-header class="top-header"></default-header>
<div class="wrap">
  <div class="sidebar-left collapse navbar-collapse navbar-collapse-2" ng-class="layoutCollapsed?'collapsed':'undefined'">
    <prjsidebar></prjsidebar>
  </div>
  <div class="middle surface-shaded">
    <div class="container" style="padding-top:30px;">
      <div>
        <h1>Error</h1>
        <h4>{{errorMessage}}</h4>
        <div>{{errorDetails}}</div>
        <br>
        <div>Return to the <a href="/">console</a>.</div>
      </div>
    </div>
  </div><!-- /middle -->
</div><!-- /wrap -->
