<div class="nav-wrapper">
   <!-- START Left navbar-->
   <ul class="nav navbar-nav">
      <li class="hidden-xs">
         <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
         <a href="" trigger-resize="" ng-click="layoutCollapsed = !layoutCollapsed">
            <span class="icon icon-lg" ng-if="layoutCollapsed">menu</span>
            <span class="icon icon-lg" ng-if="!layoutCollapsed">keyboard_backspace</span>
         </a>
      </li>
      <li class="hidden-xs hidden-lg" ng-if="layoutCollapsed">
         <a class="navbar-brand" id="openshift-logo" href="./">
            <div id="header-sm-logo">
              <span>The Digital Garage</span>
            </div>
          </a>
      </li>
   </ul>
   <!-- END Left navbar-->

   <!-- START Right Navbar-->
   <ul class="nav navbar-nav navbar-right navbar-iconic">
      <!-- Fullscreen (only desktops)-->
      <li class="visible-lg">
         <a href="" toggle-fullscreen="toggle-fullscreen">
            <em class="fa fa-expand" style="font-size: 17px;"></em>
         </a>
      </li>
      <!-- START Offsidebar button-->
      <li>
         <a href="http://docs.openshift.org/latest/welcome/index.html" title="Documentation">
            <em class="pficon-help" style="font-size: 17px;"></em>
         </a>
      </li>
         <!-- START lock screen-->
      <li ng-cloak ng-if="user">
         <a href="logout" title="Logout">
            <i class="fa fa-power-off" style="font-size: 17px;"></i>
         </a>
      </li>
      <!-- END lock screen-->
      <!-- END Offsidebar menu-->
   </ul>
</div>