<nav class="navbar navbar-pf-alt" role="navigation">
  <div class="navbar-header" ng-class="layoutCollapsed?'collapsed':'undefined'">
    <!-- JS click handler for #openshift-logo -->
    <a class="navbar-brand" id="openshift-logo" href="./">
      <div id="header-logo">
        <span class="lLogo">The Digital Garage</span>
        <span class="sLogo hidden-xs">Dg</span>
      </div>
    </a>
    <!-- mobile nav menu -->
    <div flex class="navbar-mbtn toggle-menu">
      <button type="button" class="navbar-toggle project-action-btn ng-isolate-scope pull-right" data-toggle="collapse" data-target=".navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
  </div>
  <navbar-utility class=""></navbar-utility>
</nav>
